/* You can add global styles to this file, and also import other style files */
@import url('./navbar.css');


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
}

.modal-content {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 20;
}

.icobtn {
  text-align: center;
  text-decoration: none;
  font-size : 100%;
  display: inline-block;
  padding : 10px;
  background-color: #DDF;
  border-radius : 15%;
  color: black;
  border: 2px solid #99D;
}

.icobtn:hover {
  padding : 8px;
  border-radius: 0%;
  border: 4px solid #77D;
}

.txtbtn {
  text-align: center;
  text-decoration: none;
  font-size : 100%;
  display: inline-block;
  padding : 10px;
  background-color: #DDF;
  border-radius : 10%;
  color: black;
  border: 2px solid #99D;
}

.txtbtn:hover {
  padding : 8px;
  border: 4px solid #77D;
}

.flex-container {
  display: flex;
  align-items: center;
  width : 100%;
  /*border : 1px,solid,black;*/
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.flex-vcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width : 100%;
}

.flex-vcontainer-div {
  width: 100%;
  display: grid;
  background-color: #77D;
}

.flex-hcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width : 100%;

}

.flex-btncontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width : 100%;
}

.flex-btncontainer a {
  flex-grow: 1;
}

.flex-btncontainer button {
  flex-grow: 1;
}

